# Ignore Gradle project-specific cache directory
.gradle
.idea

# Ignore Gradle build output directory
build

# Игнорирование готовых файлов тренеровок
Trainers.json
app/Trainers.json
images/

# Ненужные тесты
app/src/test/